<!--
<button pButton type="button" class="p-button-help" icon="pi pi-bell" iconPos="right" label="Hey"></button>

<p-card header="Simple Card" subheader="Esto es un subheader">
    <ng-template pTemplate="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolore vitae nostrum expedita debitis, ipsum velit nisi reiciendis asperiores deserunt aspernatur ut quo at impedit quam, atque minima, explicabo perferendis?
    </ng-template>
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card>
-->

<app-menu></app-menu>

<router-outlet></router-outlet>